<div>
    <div class="jumbotron" style="margin: 25px">
      <h2 style="text-align: center;padding-top: 5%">Register</h2>
      <br>
      <p style="text-align: center">Enter the valid E-mail address and the password!</p>
      <form action="">
        <div class="container">
         <b><p style="text-align: center;padding: 20px">
            Name : <input type="text" name="name" placeholder="Enter your name" name required
              style="padding-right: 60px;margin-left: 80px"></p>
          <p style="text-align: center;padding-bottom: 20px">
            E-mail : <input type="text" name="email" placeholder="Enter your email address" email required
              style="padding-right: 60px;margin-left: 80px"></p></b>
        </div>
        <div class="container">
        <b><p style="text-align: center">
            Password : <input type="text" name="password" placeholder="Enter your Password" password required
              style="padding-right: 60px;margin-left: 55px;margin-bottom: 20px"> <br>
            <button class="btn btn-primary" routerLink="/signin" style="margin-top: 20px"> Register</button>
          </p></b>
        </div>
      </form>
    </div>
  </div>