<div class="container">
    <div class="text-center"><img src="assets/images/demo.png" class="img-fluid" alt="..."></div>
    <h3>Aadhaar is</h3>
    <ul class="aad-is-dv1">
       <li><span class="li-text">A 12-digit unique identity for every Indian individual, including children and infants</span></li>
       <li><span class="li-text">Enables identification for every resident Indian</span></li>
       <li><span class="li-text">Establishes uniqueness of every individual on the basis of demographic and biometric information</span></li>
       <li><span class="li-text">It is a voluntary service that every resident can avail irrespective of present documentation </span></li>
       <li><span class="li-text">Each individual will be given a single unique Aadhaar ID number</span></li>
       </ul>
 
 </div>
 