<div>
    <div class="jumbotron" style="margin: 45px">
        <h2 style="text-align: center;padding-top: 5%">Login</h2>
        <p style="text-align: center">Enter the registered E-mail address and the password!</p>
        <form action="">
          <div class="container">
            <p style="text-align: center;padding-bottom: 20px">
               E-mail : <input type="text" name="email" placeholder="Enter your email address" email required style="padding-right: 60px;margin-left: 35px" ></p>
                </div>
           <div class="container">
            <p style="text-align: center">
           Password : <input type="text" name="email" placeholder="Enter your Password" required style="padding-right: 60px;margin-left: 15px"> <br>
           <button class="btn btn-primary" routerLink="/home" style="margin-top: 20px"> Login</button></p>          
          </div>
        
  
        </form>
  
    </div>
  
  
  
  </div>