
  <style media="screen">
    footer{
        position:absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #111;
        height: auto;
        width: 100vw;
        color: #fff;
        padding: top 5px;;
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .footer-content p{
        max-width: 500px;
        line-height: 20px;
        font-size: 14px;
        color: #cacdd2;
    }
    
    @media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }
        </style>
    
    
    
        <footer>
            <div class="footer-content">
                <h4>M-Aadhaar</h4>
                <p>copyright &copy; <a href="#"> Developers</a>  </p>
            </div>
        </footer>
    